<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".RevisionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Revision Reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.VCEBricks">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VCEBricks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.DueReviewsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_due_name"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_due_reviews_info" />
        </receiver>

        <receiver
            android:name=".widgets.NextReviewWidgetProvider"
            android:exported="true"
            android:label="@string/widget_next_review_name"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_review_info" />
        </receiver>

        <receiver
            android:name=".widgets.NextTestWidgetProvider"
            android:exported="true"
            android:label="@string/widget_next_test_name"
            android:permission="android.permission.BIND_APPWIDGET">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_test_info" />
        </receiver>
    </application>
</manifest>
